{% extends 'base.html.twig' %}

{% block meta_title %}{{ game.name }} sur Game-o-scope{% endblock %}
{% block meta_cover 'https://gameoscope.fr' ~ image((game.images|first).path, 'medium') %}
{% block body_class 'page-game' %}

{% block header_title %}
    <a href="{{ path('games') }}" class="header-title-back icon-previous">
        {{ parent() }}
    </a>
{% endblock %}

{% block header %}
    {{ parent() }}
    <div class="game-info">
        <h2 class="game-title">{{ game.name }}</h2>
        <h3 class="game-studio">
            {{ block('studio') }} | <span class="game-year">{{ game.year }}</span>
        </h3>
    </div>
    <a href="#top" class="top with-icon icon-top"></a>
{% endblock %}

{% block content %}
    {%- for index, image in game.images -%}
        <a id="screenshot-{{ index }}" class="screenshot" href="{{ download(image.path) }}" download>
            {% include 'app/image.html.twig' with { image: image, lazy: loop.index > 1 } only %}
        </a>
    {%- endfor -%}
{% endblock %}

{% block footer %}
    <nav class="bottom-nav">
        <a id="game-previous" href="{{ path('game', { game: previous.slug }) }}" class="with-icon icon-previous"></a>
        <a href="{{ path('games') }}">Retour aux jeux</a>
        <a id="game-next" href="{{ path('game', { game: next.slug }) }}" class="with-icon icon-right-next"></a>
    </nav>

    {{ parent() }}
{% endblock %}

{% block studio %}
{%- if game.studio.url -%}
    <a href="{{ game.studio.url }}" target="_blank">{{ game.studio.name }}</a>
{%- else -%}
    {{ game.studio.name|default(game.studio) }}
{%- endif -%}
{% endblock %}
