{% extends 'base.html.twig' %}

{% block meta_title %}{{ game.name }} sur Game-o-scope{% endblock %}
{% block body_class 'page-game' %}
{% block content_container_class 'container-large' %}

{% block header_title %}
    <a href="{{ path('games') }}" class="header-title-back icon-previous">
        {{ parent() }}
    </a>
{% endblock %}

{% block sub_header %}
    <div class="game-info">
        <h2 class="game-title">{{ game.name }}</h2>
        <h3 class="game-studio">
            par {{ block('studio') }}, <span class="game-year">{{ game.year }}</span>
        </h3>
    </div>
{% endblock %}

{% block content %}
    {% set size = dimensions('full') %}
    {% for image in game.images %}
        <a class="screenshot" href="{{ download(image.path) }}" download>
            <img title="{{ image.slug }}" src="{{ image(image.path, 'full') }}" width="{{ size.width }}" height="{{ size.height }}" />
        </a>
    {% endfor %}
    <nav class="bottom-nav">
        <a href="{{ path('game', { game: previous.slug }) }}" class="with-icon icon-previous"></a>
        <a href="{{ path('games') }}">Retour aux jeux</a>
        <a href="{{ path('game', { game: next.slug }) }}" class="with-icon icon-right-next"></a>
    </nav>
{% endblock %}

{% block studio %}
{%- if game.studio.url -%}
    <a href="{{ game.studio.url }}" target="_blank">{{ game.studio.name }}</a>
{%- else -%}
    {{ game.studio.name|default(game.studio) }}
{%- endif -%}
{% endblock %}
