{% extends 'base.html.twig' %}

{% block body_class 'page-games' %}

{% block content %}
    {% for game in games %}
        {% if not game.draft|default(false) %}
            {% set url = path('game', { game: game.slug }) %}
            {% set preview = game.images|first %}
            {% set size = dimensions('thumbnail') %}
            <a class="game" href="{{ url }}">
                <h2 class="title">{{ game.name|default(game.slug) }}</h2>
                <img class="preview" title="{{ preview.slug }}" src="{{ image(preview.path, 'thumbnail') }}" width="{{ size.width }}" height="{{ size.height }}" loading="lazy" />
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}
