{% extends 'base.html.twig' %}

{% block title %}Game-o-scope{% endblock %}
{% block body_class 'page-games' %}

{% block header %}
    <h1>Game-o-scope</h1>
    <nav class="links">
        <a href="https://instagram.com/gamoscope" class="icon-instagram" title="Instagram"></a>
        <a href="https://twitter.com/tom32i" class="icon-twitter" title="Twitter"></a>
    </nav>
{% endblock %}

{% block content %}
    {% for game in games %}
        {% set url = path('game', { game: game.slug }) %}

        {% set preview = game.images|first %}
        {% set size = dimensions('thumbnail') %}
        <a class="game" href="{{ url }}">
            <h2 class="title">{{ game.name }}</h2>
            <img class="preview" title="{{ preview.slug }}" src="{{ image(preview.path, 'thumbnail') }}" width="{{ size.width }}" height="{{ size.height }}" />
        </a>
    {% endfor %}
{% endblock %}
