<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block meta_title 'Game-o-scope' %}</title>
        <meta name="title" content="{{ block('meta_title') }}">
        <meta name="description" content="{% block meta_description 'Collection de jolis environnements visuels capturés à la main dans mes jeux vidéo préférés.' %}">
        {% block social %}
            <!-- Open Graph / Facebook -->
            <meta property="og:type" content="website">
            <meta property="og:url" content="{{ app.request.uri }}">
            <meta property="og:title" content="{{ block('meta_title') }}">
            <meta property="og:description" content="{{ block('meta_description') }}">
            <meta property="og:local" content="fr_FR">
            <meta property="og:image" content="{% block meta_cover 'https://gameoscope.fr/cover.jpg' %}">

            <!-- Twitter -->
            <meta property="twitter:card" content="summary_large_image">
            <meta property="twitter:title" content="{{ block('meta_title') }}">
            <meta property="twitter:description" content="{{ block('meta_description') }}">
            <meta property="twitter:image" content="{{ block('meta_cover') }}">
            <meta property="twitter:site" content="@gameoscope">
            <meta property="twitter:creator" content="@tom32i">
        {% endblock %}
        {% block icon %}
            <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
            <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
            <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
            <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
            <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
            <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
            <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
            <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
            <link rel="manifest" href="/manifest.json">
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
            <meta name="theme-color" content="#ffffff">
        {% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}
        {% block analytics %}
            {% if analytics_id %}
                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_id }}"></script>
                <script>
                  window.dataLayer = window.dataLayer || [];
                  function gtag(){dataLayer.push(arguments);}
                  gtag('js', new Date());
                  gtag('config', '{{ analytics_id|raw }}', { 'anonymize_ip': true });
                </script>
            {% endif %}
        {% endblock %}
    </head>
    <body class="{% block body_class '' %}">
        {% block body %}
            <div class="container">
                {% block header %}
                    <header class="header">
                        {% block header_title %}
                            <h1>Game-o-scope</h1>
                        {% endblock %}
                        {% block header_links %}
                            <nav class="links">
                                <a href="{{ path('about') }}" class="icon-only icon-info" title="À propos"></a>
                                <a href="https://instagram.com/gameoscope" class="icon-only icon-instagram" title="Instagram"></a>
                                <a href="https://twitter.com/gameoscope_fr" class="icon-only icon-twitter" title="Twitter"></a>
                            </nav>
                        {% endblock %}
                    </header>
                {% endblock %}
                <main class="content">
                    {% block content %}{% endblock %}
                </main>
                {% block footer %}
                    <footer class="footer">
                        {% block footer_content %}
                            <nav class="links">
                                <a href="{{ path('about') }}">À propos</a>
                                <a href="https://instagram.com/gamoscope" class="icon-instagram with-icon" title="Instagram">Instagram</a>
                                <a href="https://twitter.com/tom32i" class="icon-twitter with-icon" title="Twitter">Twitter</a>
                            </nav>
                        {% endblock %}
                    </footer>
                {% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
