<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title block('title') %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}
        {% block analytics %}
            {% if analytics_id %}
                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_id }}"></script>
                <script>
                  window.dataLayer = window.dataLayer || [];
                  function gtag(){dataLayer.push(arguments);}
                  gtag('js', new Date());
                  gtag('config', '{{ analytics_id|raw }}', { 'anonymize_ip': true });
                </script>
            {% endif %}
        {% endblock %}
    </head>
    <body class="{% block body_class '' %}">
        {% block body %}
            <div class="container">
                <header class="header">
                    {% block header %}
                            {% block header_title %}
                                <h1>Game-o-scope</h1>
                            {% endblock %}
                            <nav class="links">
                                <a href="{{ path('about') }}" class="icon-only icon-info" title="À propos"></a>
                                <a href="https://instagram.com/gameoscope" class="icon-only icon-instagram" title="Instagram"></a>
                                <a href="https://twitter.com/gameoscope_fr" class="icon-only icon-twitter" title="Twitter"></a>
                            </nav>
                    {% endblock %}
                </header>
                {% block sub_header %}{% endblock %}
            </div>
            <main class="content {% block content_container_class 'container' %}">
                {% block content %}{% endblock %}
            </main>
            <div class="container">
                {% block footer %}
                    <footer class="footer">
                        <nav class="links">
                            <a href="{{ path('about') }}">À propos</a>
                            <a href="https://instagram.com/gamoscope" class="icon-instagram with-icon" title="Instagram">Instagram</a>
                            <a href="https://twitter.com/tom32i" class="icon-twitter with-icon" title="Twitter">Twitter</a>
                        </nav>
                    </footer>
                {% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
